@page "/compositionofassetscurrent"
@using AFS.Core.Models
@inject CompositionOfAssetsChart CompositionOfAssetsChart

<RadzenCard Style="width: 100%;">
    <h2 class="text-center">@tableName</h2>
    <CompositionOfAssetsDonutChartComponent Period=@ResLoc["atBeginOfYear"] Assets=@baseList />
    <CompositionOfAssetsDonutChartComponent Period=@ResLoc["atEndOfYear"] Assets=@currentList />
</RadzenCard>

@code {
    private string? tableName;
    List<ChartDataItem>? baseList;
    List<ChartDataItem>? currentList;

    protected override void OnInitialized()
    {
        string name = ResLoc["CompositionOfAssets"];
        string number = "II.";

        tableName = $"{number} {name} - {MainModel.CurrentYear} {@ResLoc["year"]}";

        baseList = CompositionOfAssetsChart.GetDataItem(false, true);
        currentList = CompositionOfAssetsChart.GetDataItem(false, false);

        base.OnInitialized();
    }
}
