@using System.ComponentModel
@implements IDisposable

<RadzenCard Style="width: 100%;">
    <div class="row mb-2">
        <div class="col-md-2" style="align-self: center;">
            <RadzenLabel Text="@ResLoc["CompanyName"]" />
        </div>
        <div class="col">
            <RadzenTextBox @bind-Value="@MainModel.CompanyName" MaxLength="40" Class="w-100" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2" style="align-self: center;">
            <RadzenLabel Text="@ResLoc["BaseYear"]" />
        </div>
        <div class="col">
            <YearSelectBase />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2" style="align-self: center;">
            <RadzenLabel Text="@ResLoc["CurrentYear"]" />
        </div>
        <div class="col">
            <YearSelectCurrent />
        </div>
    </div>
</RadzenCard>

@code {
    public event PropertyChangedEventHandler? fieldChanged;

    protected override void OnInitialized()
    {
        fieldChanged += async (sender, e) =>{await InvokeAsync(StateHasChanged);};
        MainModel.PropertyChanged += fieldChanged;
        base.OnInitialized();
    }

    public void Dispose() =>MainModel.PropertyChanged -= fieldChanged;
}
