@using Radzen.Blazor
@using AFS.ComponentLibrary.Components
@inherits LayoutComponentBase

<div class="page">
    <RadzenDialog />

    <aside class="sidebar" style="overflow-y: auto;" aria-label="Navigation" role="navigation">
        <NavMenu />
    </aside>

    <main class="d-flex flex-column min-vh-100" role="main">
        <header class="d-flex justify-content-end p-2" role="banner">
            <CultureSelector />
        </header>

        <article class="content px-4 flex-grow-1" style="overflow: auto;">
            @Body
        </article>

        <footer class="mt-auto bg-light" role="contentinfo">
            <div class="text-center p-3">
                <small>
                    © 2022 - @DateTime.Now.Year Copyright:
                    <a class="text-dark" href="https://github.com/whitewAw/UFIN" target="_blank" rel="noopener noreferrer" aria-label="Visit GitHub Repository">
                        whitewAw@@gmail.com
                    </a>
                </small>
            </div>
        </footer>
    </main>

    <!-- Theme Toggle Button -->
    <ThemeToggle />
</div>
