@using Radzen.Blazor
@inherits LayoutComponentBase

<div class="page">
    <RadzenDialog />
    <div class="sidebar" style="overflow-y: auto;">
        <NavMenu />
    </div>
    <main>
        <div style="display: flex; justify-content: flex-end"><CultureSelector /></div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
