@using Radzen.Blazor
@inherits LayoutComponentBase

<div class="page">
    <RadzenDialog />
    <div class="sidebar" style="overflow-y: auto;">
        <NavMenu />
    </div>
    <main class="d-flex flex-column min-vh-100">
        <div style="display: flex; justify-content: flex-end"><CultureSelector /></div>
        <article class="content px-4" style="overflow: auto;">
            @Body
        </article>
        <footer class="mt-auto">
            <div class="text-center p-3">
                © 2022 - @DateTime.Now.Year.ToString() Copyright:
                <a class="text-dark" href="https://github.com/whitewAw/UFIN">whitewAw@gmail.com</a>
            </div>
        </footer>
    </main>
</div>
